<!-- <div class="total">
    <div class = "Metade1">
        <div class="boxLogim">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome Pet</mat-label>
                    <input matInput placeholder="Exemplo Bob" name="nome" style=" width: 80%;" [(ngModel)]="pet.NomePet">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Raça</mat-label>
                    <input matInput placeholder="Exemplo cão" name="email" [(ngModel)]="pet.Raca">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Pelo</mat-label>
                    <input matInput type="text" placeholder="Pelos grandes e marrom " name="senha" [(ngModel)]="pet.pelagem">
                </mat-form-field>
                
                    
            </form>
            <form (submit)="uploadImage()" enctype="multipart/form-data" >
                <input type="file" (change)="handleFileInput($event)" >
                <button type="submit">Enviar</button>
              </form>
            <ngx-mat-file-input>teste</ngx-mat-file-input>
            <button type="button" mat-raised-button  style="float:left;color: #fff;background: rgb(0, 0, 0); width: 90%; margin-left:5% ;margin-bottom: 2%;">Choose File</button> 
            <button mat-raised-button
            style="float:left;color: #fff;background: rgb(0, 0, 0); width: 90%; margin-left:5% ;" >Cadastrar</button>
        </div>
    </div>


    <div class="Metade2">
        <img src="http://localhost:80/projeto_integrador2/PHP/img/dog1.png" alt="">
    </div>
</div> -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <div class="total">
        <div class="Metade1">
            <div class="boxLogim">
                <form (submit)="cadastrar()"  class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Visto por ultimo em:</mat-label>
                        <input matInput placeholder="Exemplo Bob" name="nome" [(ngModel)]="vistoporultimo">
                    </mat-form-field>  
                    <button mat-raised-button type="submit"
                    style="float:left;color: #fff;background: rgb(0, 0, 0); margin-top: 2%; width: 90%; margin-left:5% ;">Publicar</button>                
                </form>
               
            </div>
        </div>
        <div class="Metade2">
            <img src="http://localhost:80/projeto_integrador2/PHP/img/dog1.png" alt="">
        </div>
    </div>
</body>

</html>