<div class="total">
    <div class="cabecalho">
        <div class="logo">
            <h3 class="title">SOS</h3><i class="material-icons">pets</i>
            <h3 class="title">PET</h3>
        </div>

        <div class="link">
            <button mat-raised-button routerLink="/" class="linkPaginas"
                style="color: #fff;background: black;">Entrar</button>
        </div>

    </div>
    <div class="corpo">
        <div class="central">
            <!-- <div class="esquerda">
                
            </div> -->
            <div class="boxLogim">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nome completo</mat-label>
                        <input matInput placeholder="Exemplo da Silva" name="nome" [(ngModel)]="usuario.Nome">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="exemplo@gmail.com.br" name="email" [(ngModel)]="usuario.Email">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" placeholder="123@456" name="senha" [(ngModel)]="usuario.Senha">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Confirme a Senha</mat-label>
                        <input matInput type="password" placeholder="123@456" name="confirma" [(ngModel)]="usuario.ConfirmaSenha">
                    </mat-form-field>   


                </form>
                <section >
                    <mat-checkbox  class="example-margin" [(ngModel)]="usuario.Ciencia">
                        <h3
                            style="font-family:CaviarDreams; font-weight: 900;float:left;">
                            Aceito os termos de uso</h3>
                    </mat-checkbox>
                </section>
                <button mat-raised-button
                    style="float:left;color: #fff;background: rgb(0, 0, 0); width: 90%; margin-left:5% ;" (click)="cadastrar()">Cadastrar</button>
                <a href="/" style="text-decoration: none; color: black;">
                    <h3 style="font-family:CaviarDreams; font-weight: 800;margin-top: 4%;margin-left: 28%;float:left;">Já possui
                        cadastro? click aqui
                    </h3>
                </a>


            </div>
            <div class="direita">
                <img src="http://localhost:80/projeto_integrador2/PHP/img/singin3.png">
            </div>
        </div>
    </div>

    <!--  <div class="rodape">

    </div> -->
</div>