<div class="total">
    <div class="cabecalho">
        <div class="logo">
            <h3 class="title">SOS</h3><i class="material-icons">pets</i>
            <h3 class="title">PETS</h3>
        </div>
        <div class="link">
            <button (click)="navega()" class="linkPaginas" style="background-color: #ffffff00; border: none">Home</button>
        </div>
        <div class="link">
            <a href="/procura" class="linkPaginas">Procurar Pets</a>
        </div>
        <div class="link">
            <a href="/maps" class="linkPaginas">Mapa Pet</a>
        </div>
        <div class="link">
            <a href="/maps" class="linkPaginas">Histórias Felizes</a>
        </div>
        <div class="link">
            <a href="/sobre" class="linkPaginas">Sobre nós</a>
        </div>
        <div class="link">
            <button mat-raised-button class="linkPaginas" style="color: #fff;background: black;" (click)="singout()">Sair</button>
        </div>

    </div>
    <div class="corpo">
        
    </div>

   <!--  <div class="rodape">

    </div> -->
</div>