<div class="total">
    <div class="cabecalho">
        <div class="logo">
            <h3 class="title">SOS</h3><i class="material-icons">pets</i>
            <h3 class="title">PETS</h3>
        </div>
        <div class="link" style="margin-left: 8%;">
            <button (click)="navegarHome()" class="linkPaginas">Inicio</button>
        </div>
        <div class="link">
            <button (click)="navegarParaProcura()" class="linkPaginas"> Publicar Pet</button>
        </div>
        <div class="link">
            <button (click)="navegarParaMapa()" class="linkPaginas"> Encontrar Pet </button>
        </div>
        <div class="link">
             <button (click)="navegarParaHistorias()" class="linkPaginas"> Histórias Felizes</button>
        </div>
        <div class="link">
            <button (click)="navegarParaSobre()" class="linkPaginas"> Sobre nós</button>
        </div>
        <!-- <div class="link">
            <button mat-raised-button class="linkPaginas" style="color: #fff;background: black;">Entrar</button>
        </div>
        <div class="link">
            <button mat-raised-button class="linkPaginas" style="color: #fff;background: black;">Entrar</button>
        </div>
 -->
    </div>
    <div class="corpo">
        <div class="dog1">
            <img src="http://localhost:80/projeto_integrador2/PHP/img/grupo.png">
        </div>
        <div class="sobre">
            <mat-card>
                <mat-card-title>
                    <h3 class="title">SOS</h3><i class="material-icons" style="margin-top: 3%;">pets</i>
                    <h3 class="title">PETS</h3>
                </mat-card-title>
                <mat-card-content>
                    <br>Bem-vindo ao nosso projeto de resgate de animais perdidos! Somos um grupo de quatro jovens
                    apaixonados por animais e estudantes de Análise e Desenvolvimento de Sistemas: Thalita, Guilherme,
                    Karina e Vinicius. Acreditamos que todos os animais merecem amor, cuidado e um lar seguro.<br>

                    <br>Nosso objetivo é ajudar a reunir animais perdidos com seus amáveis tutores, proporcionando uma
                    plataforma colaborativa e interativa. Criamos uma rede social exclusiva, onde pessoas podem
                    compartilhar informações sobre animais perdidos e encontrados.<br>

                    <br>Através do nosso site, qualquer pessoa pode se cadastrar gratuitamente. Os usuários têm a opção
                    de
                    postar informações e fotos de animais que estão procurando ou relatar animais que encontraram.
                    Assim, todos podem colaborar para encontrar e reunir animais desaparecidos com suas famílias
                    amorosas.<br>

                    <br>Entendemos que cada minuto é crucial quando um animal está perdido. Por isso, criamos um sistema
                    de
                    notificações em tempo real, para que os usuários sejam alertados instantaneamente sobre novos
                    relatos de animais perdidos em sua região.<br>

                    <br>Nosso projeto visa construir uma comunidade engajada e solidária, unindo pessoas com o objetivo
                    comum de trazer esperança e felicidade aos animais e suas famílias. Acreditamos no poder da
                    tecnologia e da colaboração para tornar o mundo um lugar melhor para nossos amigos peludos.<br>

                    <br>Junte-se a nós nesta jornada! Cadastre-se em nossa plataforma e ajude-nos a espalhar informações
                    sobre
                    animais perdidos. Juntos, podemos fazer a diferença e trazer sorrisos aos rostos de animais e seus
                    tutores, reunindo-os mais uma vez. Contamos com você!<br>

                    <br> Thalita, Guilherme, Karina e Vinicius<br>
                    <br>Equipe SOSPET<br>
                </mat-card-content>
            </mat-card>
        </div>
        <div style="margin-left: 20%;">
            <div class="equipe">
                <img src="http://localhost:80/projeto_integrador2/PHP/img/Guilherme.jpg">
                <h3 class="titleE">Guilherme</h3>
            </div>


            <div class="equipe">
                <img src="http://localhost:80/projeto_integrador2/PHP/img/karina.jpg">
                <h3 class="titleE">Karina</h3>
            </div>

            <div class="equipe">
                <img src="http://localhost:80/projeto_integrador2/PHP/img/thalita.jpg">
                <h3 class="titleE">Thalita</h3>
            </div>

            <div class="equipe">
                <img src="http://localhost:80/projeto_integrador2/PHP/img/Vinicius.jpg">
                <h3 class="titleE">Vinicius</h3>
            </div>
        </div>

    </div>


</div>