<div class="total">
    <div class="cabecalho">
        <div class="logo">
            <h3 class="title">SOS</h3><i class="material-icons">pets</i>
            <h3 class="title">PET</h3>
        </div>
        <div class="link" style="margin-left: 8%;">
            <button (click)="navegarHome()" class="linkPaginas">Inicio</button>
        </div>
        <div class="link">
            <button (click)="navegarParaProcura()" class="linkPaginas"> Publicar Pet</button>
        </div>
        <div class="link">
            <button (click)="navegarParaMapa()" class="linkPaginas"> Encontrar Pet </button>
        </div>
        <div class="link">
            <button (click)="navegarParaHistorias()" class="linkPaginas"> Histórias Felizes</button>
        </div>
        <div class="link">
            <button (click)="navegarParaSobre()" class="linkPaginas"> Sobre nós</button>
        </div>
        <!-- <div class="link">
            <button mat-raised-button class="linkPaginas" style="color: #fff;background: black;"
                (click)="navegarLogin()">Entrar</button>
        </div> -->

    </div>
    <!--   <div class="slider">
        <img src="http://localhost:80/projeto_integrador2/PHP/img/pet{{num}}.jpg" style="margin-left: 27%;margin-top: 1%;width: 45%; height: 80%;">
    </div> -->
    <div class="corpo">
        <!-- <div id="mapa"></div>
        <script>

            function inicializar() {
                var coordenadas = { lat: -22.912869, lng: -43.228963 };

                var mapa = new google.maps.Map(document.getElementById('mapa'), {
                    zoom: 15,
                    center: coordenadas
                });

                var marker = new google.maps.Marker({
                    position: coordenadas,
                    map: mapa,
                    title: 'Meu marcador'
                });
            }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=SUA_CHAVE_API_DO_GOOGLE&callback=inicializar">
        
        </script> -->
       
        <img src="http://localhost:80/projeto_integrador2/PHP/img/500 Internal Server Error-cuate.png" style="width: 400px; height: 400px; margin-top: 5%; margin-left: 35%; ">
    </div>

    <!--  <div class="rodape">

    </div> -->
</div>